<div class="container">
  <h2>投稿一覧</h2>
  <% @posts.each do |post| %>
  <div class="posts-index-item">
    <p>投稿者：<%= post.user.name %></p>
    <ul>
      <li>
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </li>
    </ul>
  </div>
  <% end %>
  <%= paginate @posts %>
</div>
