<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
  <div class="posts-index-item">
    <%= link_to user.name, user_path(user) %>
  </div>
  <% end %>
  <%= paginate @users %>
</div>
