<div class="container">
  <h2>投稿一覧</h2>
  <% @posts.each do |post| %>
  <div class="posts-index-item">
    <%= link_to post.content, post_path(post) %>
  </div>
  <% end %>
  <%= paginate @posts %>
</div>
