<div class="container">
  <h2>新規投稿</h2>
  <% @post.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
  <% end %>
  <%= form_tag("/posts") do %>
  <p>
  <textarea name="content"><%= @post.content %></textarea>
  </p>
  <p>
  <input type="submit" value="投稿">
  </p>
  <% end %>
</div>
