<div class="container">
  <h3>
    投稿者: <%= @user.name%>
  </h3>
  <p class="content">
    <%= @post.content %>
  </p>
  <% if @post.user_id == @current_user.id%>
  <div class="btn-wrapper">
    <div class="button">
      <%= link_to '編集する', edit_post_path(@post), class: 'command' %>
    </div>
    <div class="button">
      <%= link_to '削除する',
      post_path(@post),
      method: :delete,
      data: { confirm: 'Sure?' } %>
    </div>
  </div>
  <% end %>
</div>
